.App {
    text-align: center;
    background-color: #2c3a43;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 0.5em;
    max-width: 1060px !important;
}

.card {
    height: 100%;
    margin: 2px !important;
}

.App {
    font-family: 'Fjalla One', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    letter-spacing: 2px;
}

.title.is-1 {
    color: #FF8570 !important;
    font-size: 90px !important;
}

.card {
    border-radius: 15px;
}

img {
    border-radius: 15px 15px 0px 0px;
}

.not-clicked {
    cursor: pointer;
}


.clicked {
    border: 3px solid #FF8570 !important;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
}

.label {
    color: #FF8570 !important;
}

.selectedBooks {
    z-index: 66;
    width: 25%;
    height: 350px;
    position: fixed !important;
    right: 25px;
    top: 25px;
}

.selectedBooks .is-scrollable {
    height: 200px;
    overflow-y: auto;
    width: auto;
    position: inherit;
}

.is-scrollable::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.is-scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.is-scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
